* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
}